{% extends 'layout.html' %}
{% block body %}
<div id="promto1">
  <div  class="jumbotron">
    <h1>Density Functional Theory</h1>
    <p class="lead">DFT Codes to extract quantum-based parameters</p>
  </div >
   		<div  class="container" >
   			<h2>QE Calculations</h2>
   			<div id="qecalc" class="row"  style="background-image: url("../static/img/qe.png");">
          <h4>Here we use quantum espresso calculator to extract parameters like Bulk modules, elastic constants, diffusion coeffiecient ....etc ,</h4>
          <a href="/qepage" class="btn btn-primary btn-lg">QE-Calculators</a>
   			</div>

        <hr>

        <div id="wien2k" class="row">
          <h4>Here we use Full electron WIEN2K calculator to extract parameters like Bulk modules, elastic constants, diffusion coeffiecient ....etc ,</h4>
          <a href="/qepage" class="btn btn-primary btn-lg">WIEN2K-Calculators</a>
        </div>
   		</div>

      <hr>

        <div id="abinit" class="row">
          <h4>ABINIT calculator to extract parameters like Bulk modules, elastic constants, diffusion coeffiecient ....etc ,</h4>
          <a href="/qepage" class="btn btn-primary btn-lg">ABINIT-Calculators</a>
        </div>

        <hr>

        <div id="abinit" class="row">
          <h4>GPAW calculator to extract parameters like Bulk modules, elastic constants, diffusion coeffiecient ....etc ,</h4>
          <a href="/qepage" class="btn btn-primary btn-lg">GPAW-Calculators</a>
        </div>

    <hr>


</div>
{% endblock %}
