{% extends 'layout.html' %}

{% block body %}
<div id="promto">
  <div  class="jumbotron">
    <h1>Welcome To IMMS</h1>
    <p class="lead">Intergrated Multiscale Simulation Suite</p>
    {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
  </div>


</div>
  <div  id="description">
    <h2>Package Structure</h2>
    <p style="font-size:150%;" >
    The performance of materials used in nuclear technologies is controlled by mechanisms that have their origin at the atomic level. here we have calculators in three scale
    <p>
    <a href="/calculator" class="btn btn-primary btn-lg"  style="width: 180px;">CALCULATORS</a>
    </p>
    <p style="font-size:150%;  "> and Database for our materials</p>
    <a href="/database" class="btn btn-primary btn-lg" style="width: 180px;">DATABASE</a>
  </div>


  <hr>

  <div>
    <p style="font-style: italic; background-color:rgb( 184, 209, 240, 50);">
      "Much of the multi-scale modelling performed so far has been done separately from other efforts, with no integration of modelling at different length scales attempted due to the technical and computational difﬁculties associated with such coupling, not to mention the validation issues. Thus, for example, thermophysical properties predictions from lower-scale modelling have in general been used to generate material property models in fuel performance codes, rather than to generate property predictions <em> ‘on the ﬂy’ </em>. (A notable exception is the coupling of MARMOT e a MOOSE-based code employing the phase ﬁeld approach and BISON to evaluate fuel thermal conductivity, although this was only a proof of concept, without accurate modelling of the underlying physics.)"
      <p style="text-align: right;"> https://doi.org/10.1016/j.jnucmat.2018.12.037 </p> 
    </p>
  </div>
{% endblock %}
