{% extends 'layout.html' %}

{% block body %}


<div>
	<h1>
		Molecular dynamics simulations
	</h1>
</div>

<hr>
<div >
	<h2>
		Upload Structure
	</h2>
	<input style="height: 30px; width: 100px; margin:20px;" type="submit" value="Upload cif">
</div>


<hr>
<div>
	<h2>
		Upload force field
	</h2>
	<input style="height: 30px; width: 100px; margin:20px;" type="submit" value="Upload cif">
</div>


<hr>
<div>
	<h2>
		Input parameters
	</h2>
	<table>
	<tr>
		<td colspan="" rowspan="" headers="">
			<label style=" width: 100px;margin-left: 30px;">parameter_1</label>
			<input type="text" name=""  style=" width: 100px;margin-left: 30px;">
		</td>
		<td colspan="" rowspan="" headers="">
      		<label style=" width: 100px;margin-left: 30px;">parameter_1</label>
			<input type="text" name=""  style=" width: 100px;margin-left: 30px;">
		</td>
	</tr>
	<tr>
		<td colspan="" rowspan="" headers="">
						<label style=" width: 100px;margin-left: 30px;">Para</label>
						<input type="text" name=""  style=" width: 100px;margin-left: 30px;">

		</td>
		<td colspan="" rowspan="" headers="">
					<label for="" style=" width: 100px;margin-left: 30px;">para4</label>
					<input type="text" name=""  style=" width: 100px;margin-left: 30px;">
		</td>
	</tr>
	</table>


</div>



{% endblock %}
